
.rowp{
    text-align: left;
    padding:2px;
    margin-top: 20px;
}

.label{
    font-size: 18;
    font-weight: bold;
    margin-bottom: 10px;
}

.containerdatos {
    margin-top: 10px;
    height: 60vh;
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

}
.parteIz{
    padding-top: 20px;
    padding-left: 20px;
    width: 30%;
    background-color: rgb(227, 240, 230);

}

.parteDr{
    width: 70%;
    background-color: brown;
}
